$map-height: 85%;

.example-content
{
  .scroll
  {
    height: 100%;
  }
}

.geolocation-row
{
  @include calc(height, "(100% - #{$map-height})");

  .geolocation-button
  {
    margin: 0px;
  }
}

.map-row
{
  height: $map-height;
  margin: 0px !important;

  .map-col
  {
    position: relative;
  }

  .search-container
  {
    position: absolute;
    left: 0px;
    right: 0px;

    .search-input-outer
    {
      margin: 10px;
      margin-bottom: 0px;
    }

    .search-results
    {
      padding: 10px;
      padding-top: 0px;
    }
  }

  .map-container
  {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    .map
    {
      height: 100%;
      width: 100%;
    }
  }
}

.custom-marker
{
  font-size: 1.5em;
  padding: 10px;
  background: #F1F1F1;
  color: #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: #7F7F7F solid 1px;

  .marker-title
  {
    margin: 0px;
  }
}

.place-logo
{
  text-align: center;
}
